.asset {
  position: relative;
  background-color: white;
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-footer {
  background-color: #adcbfc;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

.asset-city {
  position: absolute;
  background-color: #d3e3fc;
  bottom: 50px;
  padding: 2px 8px;
  text-transform: capitalize;
  cursor: pointer;
}

.asset-city:hover {
  color: white;
}

.asset-image {
  max-width: 300px;
  max-height: 250px;
}

.like-btn {
  background-color: transparent;
  width: 100%;
  border: none;
  font-size: 1.1em;
  text-transform: uppercase;
  cursor: pointer;
}

.separator {
  position: absolute;
  bottom: 14px;
  height: 22px;
  border-radius: 50px;
  background-color: #7dafff;
  pointer-events: none;
  border: #7dafff 0.5px solid;
}

.like-btn:hover {
  color: white;
}

.asset-address-card {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.assets-container {
  width: 90vw;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 7px;
  grid-row-gap: 15px;
}

.request-background {
  position: fixed;
  background: rgba(77, 77, 77, 0.7);
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  animation: fadeInOpacity 0.4s ease-in;
  transition: all 0.4s ease-in-out;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.request-window {
  position: absolute;
  width: 370px;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.request-content {
  width: max-content;
  margin-left: 20px;
}

.request-text {
  text-align: center;
}

.request-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}

.request-input-text {
  border: none;
  width: 90%;
  font-size: 1em;
}

.request-send-btn {
  background-color: #adcbfc;
  border: none;
  padding: 2px 6px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 25px;
}

.request-send-btn:hover {
  background-color: #7dafff;
}

.close-btn {
  display: inline;
  position: absolute;
  right: 1px;
  top: 1px;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
}

.close-btn:hover {
  color: #7dafff;
}

.asset-full-card-background {
  position: fixed;
  background: rgba(77, 77, 77, 0.7);
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: auto;
  margin-right: auto;
  z-index: 1000;
  animation: fadeInOpacity 0.4s ease-in;
  transition: all 0.4s ease-in-out;
}

.asset-full-card {
  position: absolute;
  background-color: white;
  width: 50vw;
  height: 95vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.asset-full-card-content {
  position: relative;
  height: 55vh;
}

.map {
  height: 40vh;
}

.asset-big-image {
  max-width: 50vw;
  max-height: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.asset-data {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
  max-height: 50%;
}

.accessories {
  width: 40%;
  text-align: center;
}

.asset-text-details {
  max-width: 60%;
  overflow: auto;
}

.map-container {
  width: 100%;
  height: 100%;
}

.asset-pin-name {
  position: absolute;
  width: max-content;
  top: -35px;
  left: -60px;
}
.asset-pin-pulse {
  background: rgba(125, 175, 255, 0.2);
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}

.asset-pin-pulse::after {
  content: '';
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #89849b;
  animation-delay: 1.1s;
}

.asset-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #adcdff;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.asset-pin::after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #7dafff;
  position: absolute;
  border-radius: 50%;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }
  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }
  80% {
    transform: translateY(-10px) rotate(-45deg);
  }
  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

.current-pin {
  content: '';
  width: 14px;
  height: 14px;
  background: #659ffc;
  position: absolute;
  border-radius: 50%;
  transform: translate(50%, 50%);
}

.current-pin-container {
  width: 28px;
  height: 28px;
  background: #a0c4ff;
  position: absolute;
  border-radius: 50%;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  animation-delay: 1.1s;
}

@media only screen and (max-width: 768px) {
  .assets-container {
    grid-template-columns: auto;
  }
  .asset {
    width: 100%;
  }

  .asset-full-card {
    width: 90vw;
    height: 90vh;
  }
  .asset-full-card-content {
    height: 40vh;
  }
  .map {
    height: 50vh;
  }

  .close-btn {
    color: #7dafff;
  }
}
