.container2 {
  background-image: url('../images/homepage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  justify-content: space-around;
  padding-top: 10vh;
  padding-left: 76.5vh;
}
