.profile-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.profile-owner,
.profile-renter {
  width: 400px;
  padding: 0 20px 20px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.075);
  text-align: center;
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
}

.profile-owner {
  background-color: #fff;
}
.profile-renter {
  background-color: #aba7ac;
}
.profile-picture {
  border-radius: 100px;
  overflow: hidden;
  width: 150px;
  position: relative;
  margin: auto;
  top: -60px;
  box-shadow: 0 0 0 13px #f1f2f6;
}
.profile-name {
  font-size: 3em;
  margin-bottom: 15px;
  color: #333;
}
