#renter-register-container {
  padding-top: 8vh;
  color: #77a6f7;
  animation: expand 0.8s ease forwards;
  background-image: url('../images/renterRegister.jpg');
  transition: all 0.8s ease;
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
}

#renter-register-page {
  background-image: url('../images/register2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#renter-register-header {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 80vh;
}

.form-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.register-btn {
  position: absolute;
  bottom: 5vh;
  right: 5vw;
  width: max-content;
  background: transparent;
  border: 1px solid var(--contrast-color);
  border-radius: 50px;
  padding: 8px 12px;
  color: #77a6f7;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 15px;
  outline: none;
}

.register-btn:hover {
  background-color: #fff;
  color: #00887a;
  cursor: pointer;
}

.register-label {
  font-size: 1.5em;
  color: black;
}

.register-text {
  font-size: 1.3em;
  border-radius: 50px;
  border: 1px solid #575756;
  backface-visibility: hidden;
  line-height: 18px;
  width: 26vw;
  padding: 6px 20px;
  letter-spacing: 1.5px;
  margin-bottom: 3vh;
}

.register-purpose {
  font-size: 1.3em;
  border-radius: 25px;
  border: 1px solid #575756;
  backface-visibility: hidden;
  line-height: 18px;
  width: 26vw;
  padding: 6px 20px;
  letter-spacing: 1.5px;
  margin-bottom: 3vh;
}

.input-file {
  color: black;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.file-label {
  background-color: var(--contrast-color);
  color: white;
  border: 2px solid gray;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.file-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin: 10px;
}

.confirm-password {
  font-size: 1.3em;
  border-radius: 50px;
  border: 1px solid #575756;
  backface-visibility: hidden;
  line-height: 18px;
  width: 26vw;
  padding: 6px 20px;
  letter-spacing: 1.5px;
}

.file-name {
  color: black;
}

.confirm-password-container {
  margin-bottom: 3vh;
}

.register-symbol {
  font-size: 2em;
  margin-top: auto;
  margin-bottom: auto;
  color: black;
  margin-right: 10px;
}

.error {
  font-size: 2em;
  color: black;
  text-align: center;
  margin-top: 70px;
  font-weight: bold;
  text-transform: capitalize;
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

@media only screen and (max-width: 768px) {
  .register-label {
    font-size: 1em;
  }

  .register-text {
    font-size: 0.8em;
    line-height: normal;
    letter-spacing: 0.5px;
    width: 45vw;
    padding-left: 10px;
    margin-bottom: 0;
  }

  .confirm-password {
    font-size: 0.8em;
    line-height: normal;
    letter-spacing: 0.5px;
    padding-left: 10px;
    width: 45vw;
  }

  .register-symbol {
    font-size: 1.2em;
  }

  .confirm-password-container {
    justify-content: flex-end;
    margin-bottom: 0;
  }

  .form {
    width: 90%;
    height: 65vh;
  }

  #renter-register-container {
    padding-top: 0;
  }

  .register-purpose {
    font-size: 0.8em;
    letter-spacing: 0.5px;
    border-radius: 10px;
    line-height: 18px;
    width: 45vw;
    margin-bottom: 0;
    padding: 5px 5px;
  }

  .register-btn {
    position: static;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
  }

  .error {
    margin-top: 20px;
  }
}
